In [ ]:
## Importing data

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
data=pd.read_csv(r"C:\Users\Lenovo\Desktop\Edu bridge\EDU\DATA\moviesdata.csv")

In [22]:
data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Unnamed: 24
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,FALSE,7.7,5415.0,NaN
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,FALSE,6.9,2413.0,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,FALSE,6.5,92.0,NaN
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,FALSE,6.1,34.0,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,FALSE,5.7,173.0,NaN
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818,170,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,FALSE,7.7,1886.0,NaN
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,0,127,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,FALSE,6.2,141.0,NaN
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,0,97,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,FALSE,5.4,45.0,NaN
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,64350171,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,FALSE,5.5,174.0,NaN
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,352194034,130,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,FALSE,6.6,1194.0,NaN
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,107879496,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,FALSE,6.5,199.0,NaN
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,0,88,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,FALSE,5.7,210.0,NaN
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,11348324,78,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,FALSE,7.1,423.0,NaN
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,13681765,192,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,FALSE,7.1,72.0,NaN
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,10017322,119,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,FALSE,5.7,137.0,NaN
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise ‚Äì Las Vegas ...,...,116112375,178,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,FALSE,7.8,1343.0,NaN
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,135000000,136,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,FALSE,7.2,364.0,NaN
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,4300000,98,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,FALSE,6.5,539.0,NaN
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,212385533,90,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,FALSE,6.1,1128.0,NaN
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,35431113,103,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,FALSE,5.4,224.0,NaN
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,115101622,105,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it‚Äôs nothing like show b...",Get Shorty,FALSE,6.4,305.0,NaN
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,0,124,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,FALSE,6.5,199.0,NaN
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,30303072,132,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,FALSE,6,394.0,NaN
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,0,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,FALSE,6.3,143.0,NaN
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,49800000,112,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,FALSE,7.1,365.0,NaN
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,0,123,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,FALSE,7,33.0,NaN
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,27400000,100,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,FALSE,6.6,91.0,NaN
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,0,104,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,FALSE,7.4,36.0,NaN
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cit√© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1738611,108,"[{'iso_639_1': 'cn', 'name': '??? / ???'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,FALSE,7.6,308.0,NaN
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,???,?????,...,30-04-1995,0,108,"[{'iso_639_1': 'zh', 'name': '???'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,FALSE,6.5,17.0
30,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,9909,tt0112792,en,Dangerous Minds,Former Marine Louanne Johnson lands a gig teac...,...,180000000,99,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She broke the rules... and changed their lives.,Dangerous Minds,FALSE,6.4,249.0,NaN
31,False,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,168840000,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,FALSE,7.4,2470.0,NaN
32,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,0,50,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,FALSE,6.8,4.0,NaN
33,False,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,...,254134910,89,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,FALSE,6,756.0,NaN
34,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,47018,tt0112637,en,Carrington,The story of the relationship between painter ...,...,0,121,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Love so Unusual it has to be True,Carrington,FALSE,6.4,16.0,NaN
35,False,NaN,11000000,"[{'id': 18, 'name': 'Drama'}]",NaN,687,tt0112818,en,Dead Man Walking,A justice drama based on a true story about a ...,...,39363635,122,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Man Walking,FALSE,7.3,350.0,NaN
36,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",NaN,139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",...,0,51,"[{'iso_639_1': 'ru', 'name': 'P??????'}, {'iso...",Released,NaN,Across the Sea of Time,FALSE,3.5,2.0,NaN
37,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,33689,tt0113442,en,It Takes Two,Identical 9-year-olds from very different back...,...,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two identical strangers. Two different worlds....,It Takes Two,FALSE,6.1,149.0,NaN
38,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9603,tt0112697,en,Clueless,"Shallow, rich and socially successful Cher is ...",...,0,97,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...",Released,Sex. Clothes. Popularity. Is there a problem h...,Clueless,FALSE,6.9,828.0,NaN
39,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,34615,tt0112749,en,"Cry, the Beloved Country",A South-African preacher goes to search for hi...,...,676525,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Cry, the Beloved Country",FALSE,6.7,13.0,NaN
40,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,31174,tt0114279,en,Richard III,Shakespeare's Play transplanted into a 1930s s...,...,0,104,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"I can smile, and murder while I smile",Richard III,FALSE,6.9,50.0,NaN
41,False,NaN,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,11443,tt0112819,en,Dead Presidents,"Depicts a heist of old bills, retired from cir...",...,0,119,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,FALSE,6.6,80.0,NaN
42,False,NaN,19000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,35196,tt0114272,en,Restoration,"An aspiring young physician, Robert Merivel fo...",...,0,117,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Restoration,FALSE,6.3,30.0,NaN
43,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,9312,tt0113855,en,Mortal Kombat,For nine generations an evil sorcerer has been...,...,122195920,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,FALSE,5.4,452.0,NaN
44,False,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,577,tt0114681,en,To Die For,Susan wants to work in television and will the...,...,21284514,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,FALSE,6.7,177.0,NaN
45,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,11861,tt0113347,en,How To Make An American Quilt,Soon-to-be-wed graduate student Finn Dodd deve...,...,23574130,116,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's beauty in the patterns of life.,How To Make An American Quilt,FALSE,6.5,38.0,NaN
46,False,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,327311859,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,FALSE,8.1,5915.0,NaN
47,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,10530,tt0114148,en,Pocahontas,History comes gloriously to life in Disney's e...,...,346079773,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,FALSE,6.7,1509.0,NaN
48,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8391,tt0114916,en,When Night Is Falling,"A prudish woman, working on tenure as a litera...",...,0,96,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,When Night Is Falling,FALSE,5.9,10.0,NaN
49,False,NaN,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.mgm.com/#/our-titles/2083/The-Usual...,629,tt0114814,en,The Usual Suspects,"Held in an L.A. interrogation room, Verbal Kin...",...,23341568,106,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,FALSE,8.1,3334.0,NaN

In [ ]:
## Top bottom data

In [24]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Unnamed: 24
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,FALSE,7.7,5415.0,NaN
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,FALSE,6.9,2413.0,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,FALSE,6.5,92.0,NaN
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,FALSE,6.1,34.0,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,FALSE,5.7,173.0,NaN

In [23]:
data.tail()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Unnamed: 24
45,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,11861,tt0113347,en,How To Make An American Quilt,Soon-to-be-wed graduate student Finn Dodd deve...,...,23574130,116,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's beauty in the patterns of life.,How To Make An American Quilt,FALSE,6.5,38.0,NaN
46,False,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,327311859,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,FALSE,8.1,5915.0,NaN
47,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,10530,tt0114148,en,Pocahontas,History comes gloriously to life in Disney's e...,...,346079773,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,FALSE,6.7,1509.0,NaN
48,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8391,tt0114916,en,When Night Is Falling,"A prudish woman, working on tenure as a litera...",...,0,96,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,When Night Is Falling,FALSE,5.9,10.0,NaN
49,False,NaN,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.mgm.com/#/our-titles/2083/The-Usual...,629,tt0114814,en,The Usual Suspects,"Held in an L.A. interrogation room, Verbal Kin...",...,23341568,106,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,FALSE,8.1,3334.0,NaN

In [ ]:
## Data information

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  50 non-null     bool
 1   belongs_to_collection  10 non-null     object
 2   budget                 50 non-null     int64
 3   genres                 50 non-null     object
 4   homepage               5 non-null      object
 5   id                     50 non-null     int64
 6   imdb_id                50 non-null     object
 7   original_language      50 non-null     object
 8   original_title         50 non-null     object
 9   overview               49 non-null     object
 10  popularity             50 non-null     object
 11  poster_path            50 non-null     object
 12  production_companies   50 non-null     object
 13  production_countries   50 non-null     object
 14  release_date           50 non-null     object
 15  revenue                50 non-null     object
 16  runtime                50 non-null     int64
 17  spoken_languages       50 non-null     object
 18  status                 50 non-null     object
 19  tagline                41 non-null     object
 20  title                  50 non-null     object
 21  video                  50 non-null     object
 22  vote_average           50 non-null     object
 23  vote_count             50 non-null     float64
 24  Unnamed: 24            1 non-null      float64
dtypes: bool(1), float64(2), int64(3), object(19)
memory usage: 9.5+ KB

In [37]:
data.describe()

             budget             id     runtime   vote_count  Unnamed: 24
count  5.000000e+01      50.000000   50.000000    50.000000          1.0
mean   2.111700e+07   16277.100000  107.880000   690.370000         17.0
std    2.427737e+07   23521.345145   29.633572  1253.269548          NaN
min    0.000000e+00       5.000000    0.000000     2.000000         17.0
25%    0.000000e+00    1483.500000   98.250000    55.500000         17.0
50%    1.200000e+07    9647.000000  106.000000   199.000000         17.0
75%    3.231250e+07   16215.500000  121.750000   517.250000         17.0
max    9.800000e+07  139405.000000  192.000000  5915.000000         17.0

In [36]:
data.describe(include='all')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Unnamed: 24
count,50,10,5.000000e+01,50,5,50.000000,50,50,50,49,...,50,50.000000,50,50,41,50,50,50,50.000000,1.0
unique,1,10,NaN,39,5,NaN,50,3,50,49,...,34,NaN,13,2,41,50,2,25,NaN,NaN
top,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://toystory.disney.com/toy-story,NaN,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,0,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Roll the dice and unleash the excitement!,Toy Story,FALSE,6.5,NaN,NaN
freq,50,1,NaN,6,1,NaN,1,47,1,1,...,17,NaN,34,49,1,1,49,5,NaN,NaN
mean,NaN,NaN,2.111700e+07,NaN,NaN,16277.100000,NaN,NaN,NaN,NaN,...,NaN,107.880000,NaN,NaN,NaN,NaN,NaN,NaN,690.370000,17.0
std,NaN,NaN,2.427737e+07,NaN,NaN,23521.345145,NaN,NaN,NaN,NaN,...,NaN,29.633572,NaN,NaN,NaN,NaN,NaN,NaN,1253.269548,NaN
min,NaN,NaN,0.000000e+00,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,17.0
25%,NaN,NaN,0.000000e+00,NaN,NaN,1483.500000,NaN,NaN,NaN,NaN,...,NaN,98.250000,NaN,NaN,NaN,NaN,NaN,NaN,55.500000,17.0
50%,NaN,NaN,1.200000e+07,NaN,NaN,9647.000000,NaN,NaN,NaN,NaN,...,NaN,106.000000,NaN,NaN,NaN,NaN,NaN,NaN,199.000000,17.0
75%,NaN,NaN,3.231250e+07,NaN,NaN,16215.500000,NaN,NaN,NaN,NaN,...,NaN,121.750000,NaN,NaN,NaN,NaN,NaN,NaN,517.250000,17.0
max,NaN,NaN,9.800000e+07,NaN,NaN,139405.000000,NaN,NaN,NaN,NaN,...,NaN,192.000000,NaN,NaN,NaN,NaN,NaN,NaN,5915.000000,17.0

In [ ]:
## NO of column and rows

In [30]:
data.shape

(50, 25)

In [49]:
data.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
## Data types

In [35]:
data.dtypes

adult                       bool
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                         int64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                   object
runtime                    int64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average              object
vote_count               float64
Unnamed: 24              float64
dtype: object

In [ ]:
## Checking Null values

In [32]:
data.isnull().sum()

adult                     0
belongs_to_collection    40
budget                    0
genres                    0
homepage                 45
id                        0
imdb_id                   0
original_language         0
original_title            0
overview                  1
popularity                0
poster_path               0
production_companies      0
production_countries      0
release_date              0
revenue                   0
runtime                   0
spoken_languages          0
status                    0
tagline                   9
title                     0
video                     0
vote_average              0
vote_count                0
Unnamed: 24              49
dtype: int64

In [42]:
d=data.drop(["belongs_to_collection","homepage","Unnamed: 24"],axis=1,inplace=True)

In [47]:
data

,adult,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,30-10-1995,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,FALSE,7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,15-12-1995,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,FALSE,6.9,2413.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,22-12-1995,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,FALSE,6.5,92.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,22-12-1995,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,FALSE,6.1,34.0
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,10-02-1995,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,FALSE,5.7,173.0
5,False,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,15-12-1995,187436818,170,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,FALSE,7.7,1886.0
6,False,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,...,15-12-1995,0,127,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,FALSE,6.2,141.0
7,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,...,22-12-1995,0,97,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,FALSE,5.4,45.0
8,False,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,5.23158,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,...,22-12-1995,64350171,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,FALSE,5.5,174.0
9,False,58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,14.686036,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,...,16-11-1995,352194034,130,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,FALSE,6.6,1194.0
10,False,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",6.318445,/lymPNGLZgPHuqM29rKMGV46ANij.jpg,...,17-11-1995,107879496,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,FALSE,6.5,199.0
11,False,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,/xve4cgfYItnOhtzLYoTwTVy5FGr.jpg,...,22-12-1995,0,88,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,FALSE,5.7,210.0
12,False,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,12.140733,/gV5PCAVCPNxlOLFM1bKk50EqLXO.jpg,...,22-12-1995,11348324,78,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,FALSE,7.1,423.0
13,False,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,5.092,/cICkmCEiXRhvZmbuAlsA5D9B2rK.jpg,...,22-12-1995,13681765,192,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,FALSE,7.1,72.0
14,False,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.284477,/odM9973kIv9hcjfHPp6g6BlyTIJ.jpg,...,22-12-1995,10017322,119,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,FALSE,5.7,137.0
15,False,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",524,tt0112641,en,Casino,The life of the gambling paradise ‚Äì Las Vegas ...,10.137389,/xo517ibXBDdYQY81j0WIG7BVcWq.jpg,...,22-11-1995,116112375,178,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,FALSE,7.8,1343.0
16,False,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",10.673167,/lA9HTy84Bb6ZwNeyoZKobcMdpMc.jpg,...,13-12-1995,135000000,136,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,FALSE,7.2,364.0
17,False,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,9.026586,/eQs5hh9rxrk1m4xHsIz1w11Ngqb.jpg,...,09-12-1995,4300000,98,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,FALSE,6.5,539.0
18,False,30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",8.205448,/wRlGnJhEzcxBjvWtvbjhDSU1cIY.jpg,...,10-11-1995,212385533,90,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,FALSE,6.1,1128.0
19,False,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,7.337906,/jSozzzVOR2kfXgTUuGnbgG2yRFi.jpg,...,21-11-1995,35431113,103,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,FALSE,5.4,224.0
20,False,30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,12.669608,/vWtDUUgQAsVyvRW4mE75LBgVm2e.jpg,...,20-10-1995,115101622,105,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it‚Äôs nothing like show b...",Get Shorty,FALSE,6.4,305.0
21,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,10.701801,/80czeJGSoik22fhtUM9WzyjUU4r.jpg,...,27-10-1995,0,124,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,FALSE,6.5,199.0
22,False,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,11.065939,/xAx5MP7Dg4y85pyS7atX6eWk4Qd.jpg,...,06-10-1995,30303072,132,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,FALSE,6,394.0
23,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,12.133094,/1uRKsxOCtgz0xVqs9l4hYtp4dFm.jpg,...,27-10-1995,0,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,FALSE,6.3,143.0
24,False,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",10.332025,/37qHRJxnSh5YkuaN9FgfNnMl3Tj.jpg,...,27-10-1995,49800000,112,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,FALSE,7.1,365.0
25,False,0,"[{'id': 18, 'name': 'Drama'}]",16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,1.845899,/qM0BXEQjmnAzlkDZ0tYmV6twqMX.jpg,...,15-12-1995,0,123,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,FALSE,7,33.0
26,False,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,8.681325,/wD6rLdD2Ix3u9YLgE3Do8GyCHoz.jpg,...,20-10-1995,27400000,100,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,FALSE,6.6,91.0
27,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,2.228434,/si8911IezMvAnQFDvyg1nKzDlD.jpg,...,27-09-1995,0,104,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,FALSE,7.4,36.0
28,False,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",902,tt0112682,fr,La Cit√© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,9.822423,/eVo6ewq4akfyJYy3GXkMsLNzEJc.jpg,...,16-05-1995,1738611,108,"[{'iso_639_1': 'cn', 'name': '??? / ???'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,FALSE,7.6,308.0
29,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",37557,tt0115012,zh,???,?????,A provincial boy related to a Shanghai crime f...,1.100915,...,"[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...",30-04-1995,0,108,"[{'iso_639_1': 'zh', 'name': '???'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,FALSE,6.5
30,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",9909,tt0112792,en,Dangerous Minds,Former Marine Louanne Johnson lands a gig teac...,9.481338,/y5Jee3QmYOlpqfaPPbfvtdVc5wj.jpg,...,11-08-1995,180000000,99,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She broke the rules... and changed their lives.,Dangerous Minds,FALSE,6.4,249.0
31,False,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",12.297305,/6Sj9wDu3YugthXsU0Vry5XFAZGg.jpg,...,29-12-1995,168840000,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,FALSE,7.4,2470.0
32,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,0.745542,/k6ODtR38dKEfuzSGjggr8KDyAF4.jpg,...,18-09-1996,0,50,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,FALSE,6.8,4.0
33,False,30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,14.404764,/gN6X3fwPya8pLffk9OEWV3DqBnE.jpg,...,18-07-1995,254134910,89,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,FALSE,6,756.0
34,False,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",47018,tt0112637,en,Carrington,The story of the relationship between painter ...,1.493361,/a7w6rPdTBgWAx6lnhwHemPx9pEw.jpg,...,08-11-1995,0,121,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Love so Unusual it has to be True,Carrington,FALSE,6.4,16.0
35,False,11000000,"[{'id': 18, 'name': 'Drama'}]",687,tt0112818,en,Dead Man Walking,A justice drama based on a true story about a ...,6.891317,/y19uRkAHXOHLeySuBVMqnvVnsrA.jpg,...,29-12-1995,39363635,122,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Man Walking,FALSE,7.3,350.0
36,False,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",0.114469,/lKOAyy098yjoot8cutYsStVO1WS.jpg,...,20-10-1995,0,51,"[{'iso_639_1': 'ru', 'name': 'P??????'}, {'iso...",Released,NaN,Across the Sea of Time,FALSE,3.5,2.0
37,False,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",33689,tt0113442,en,It Takes Two,Identical 9-year-olds from very different back...,7.777735,/l67WJL3Mjce1yoEgL4HheR5v75D.jpg,...,17-11-1995,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two identical strangers. Two different worlds....,It Takes Two,FALSE,6.1,149.0
38,False,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9603,tt0112697,en,Clueless,"Shallow, rich and socially successful Cher is ...",9.882383,/i8gEHh2sszB6YWLC0jl559sxAeN.jpg,...,19-07-1995,0,97,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...",Released,Sex. Clothes. Popularity. Is there a problem h...,Clueless,FALSE,6.9,828.0
39,False,0,"[{'id': 18, 'name': 'Drama'}]",34615,tt0112749,en,"Cry, the Beloved Country",A South-African preacher goes to search for hi...,0.894647,/ymA7HQqRiyo1xrnFFv1ZrwNpwlb.jpg,...,15-12-1995,676525,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Cry, the Beloved Country",FALSE,6.7,13.0
40,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",31174,tt0114279,en,Richard III,Shakespeare's Play transplanted into a 1930s s...,4.561387,/e8nuS9GQoSFaqld4hW5erk2ccag.jpg,...,29-12-1995,0,104,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"I can smile, and murder while I smile",Richard III,FALSE,6.9,50.0
41,False,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",11443,tt0112819,en,Dead Presidents,"Depicts a heist of old bills, retired from cir...",9.87957,/2dLyvXVvJXUR9otoqERkYpao1bB.jpg,...,06-10-1995,0,119,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,FALSE,6.6,80.0
42,False,19000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",35196,tt0114272,en,Restoration,"An aspiring young physician, Robert Merivel fo...",10.979269,/aqQdEQ1ZVdzrREJxCoPzTlLgHVw.jpg,...,29-12-1995,0,117,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Restoration,FALSE,6.3,30.0
43,False,18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",9312,tt0113855,en,Mortal Kombat,For nine generations an evil sorcerer has been...,10.870138,/bdXWixjWVA7Y03PvW74xufrROiJ.jpg,...,18-08-1995,122195920,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,FALSE,5.4,452.0
44,False,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",577,tt0114681,en,To Die For,Susan wants to work in television and will the...,10.448481,/zCREx8trzejNieDLUsRuwLU0cS3.jpg,...,20-05-1995,21284514,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,FALSE,6.7,177.0
45,False,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",11861,tt0113347,en,How To Make An American Quilt,Soon-to-be-wed graduate student Finn Dodd deve...,4.485958,/wnWAZHbjX5Wj6hyb0gGmFdMADZk.jpg,...,06-10-1995,23574130,116,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's beauty in the patterns of life.,How To Make An American Quilt,FALSE,6.5,38.0
46,False,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,18.45743,/8zw8IL4zEPjkh8Aysdcd0FwGMb0.jpg,...,22-09-1995,327311859,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,FALSE,8.1,5915.0
47,False,55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",10530,tt0114148,en,Pocahontas,History comes gloriously to life in Disney's e...,13.280069,/qk95miOV8wDABbO5gyCpCrvbVFu.jpg,...,14-06-1995,346079773,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,FALSE,6.7,1509.0
48,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",8391,tt0114916,en,When Night Is Falling,"A prudish woman, working on tenure as a litera...",3.302524,/wnUuYc9XnWrTTAGz8YjjULA3Zmr.jpg,...,05-05-1995,0,96,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,When Night Is Falling,FALSE,5.9,10.0
49,False,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",629,tt0114814,en,The Usual Suspects,"Held in an L.A. interrogation room, Verbal Kin...",16.302466,/jgJoRWltoS17nD5MAQ1yK2Ztefw.jpg,...,19-07-1995,23341568,106,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,FALSE,8.1,3334.0