In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Lenovo\Desktop\Edu bridge\EDU\DATA\breast_cancer_train.csv")

In [3]:
df

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
643,776715,3,1,1,1,3,2,1,1,1,2
644,841769,2,1,1,1,2,1,1,1,1,2
645,888820,5,10,10,3,7,3,8,10,2,4
646,897471,4,8,6,4,3,4,10,6,1,4
647,897471,4,8,8,5,4,5,10,4,1,4

In [4]:
df = df.drop(df[df["bare_nuclei"]=="?"].index,axis=0)

In [5]:
df["bare_nuclei"] = df["bare_nuclei"].astype(int)

In [6]:
df.dtypes

id                        int64
clump_thickness           int64
uniform_cell_size         int64
uniform_cell_shape        int64
marginal_adhesion         int64
single_epithelial_size    int64
bare_nuclei               int32
bland_chromatin           int64
normal_nucleoli           int64
mitoses                   int64
class                     int64
dtype: object

In [7]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
model = RandomForestClassifier(n_estimators=10)
model.fit(x,y)

RandomForestClassifier(n_estimators=10)

In [17]:
val_result = pd.read_csv(r"C:\Users\Lenovo\Desktop\Edu bridge\EDU\DATA\validation_results1.csv")

In [18]:
val = pd.read_csv(r"C:\Users\Lenovo\Desktop\Edu bridge\EDU\DATA\breast_cancer_validation1.csv")

In [19]:
y_pred = model.predict(val)

In [20]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [21]:
y_val = val_result.iloc[:,-1]

In [22]:
accuracy_score(y_val,y_pred)

0.9666666666666667

In [23]:
confusion_matrix(y_val,y_pred)

array([[22,  0],
       [ 1,  7]], dtype=int64)

In [24]:
result = pd.read_csv(r"C:\Users\Lenovo\Desktop\Edu bridge\EDU\DATA\breast_cancer_test.csv")

In [25]:
result

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses
0,1214092,1,1,1,1,2,1,1,1,1
1,1214556,3,1,1,1,2,1,2,1,1
2,1214966,9,7,7,5,5,10,7,8,3
3,1216694,10,8,8,4,10,10,8,1,1
4,1216947,1,1,1,1,2,1,3,1,1
5,1217051,5,1,1,1,2,1,3,1,1
6,1217264,1,1,1,1,2,1,3,1,1
7,1218105,5,10,10,9,6,10,7,10,5
8,1218741,10,10,9,3,7,5,3,5,1
9,1218860,1,1,1,1,1,1,3,1,1
10,1218860,1,1,1,1,1,1,3,1,1
11,1219406,5,1,1,1,1,1,3,1,1
12,1219525,8,10,10,10,5,10,8,10,6
13,1219859,8,10,8,8,4,8,7,7,1
14,1220330,1,1,1,1,2,1,3,1,1
15,1221863,10,10,10,10,7,10,7,10,4
16,1222047,10,10,10,10,3,10,10,6,1
17,1222936,8,7,8,7,5,5,5,10,2
18,1223282,1,1,1,1,2,1,2,1,1
19,1223426,1,1,1,1,2,1,3,1,1
20,1223793,6,10,7,7,6,4,8,10,2
21,1223967,6,1,3,1,2,1,3,1,1
22,1224329,1,1,1,2,2,1,3,1,1
23,1225799,10,6,4,3,10,10,9,10,1
24,1226012,4,1,1,3,1,5,2,1,1
25,1226612,7,5,6,3,3,8,7,4,1
26,1227210,10,5,5,6,3,10,7,9,2
27,1227244,1,1,1,1,2,1,2,1,1
28,1227481,10,5,7,4,4,10,8,9,1
29,1228152,8,9,9,5,3,5,7,7,1

In [ ]:
#for final apply for test csv

In [26]:
predition = model.predict(result)

In [27]:
data = {"id":result["id"],"class":predition}

In [28]:
dataset = pd.DataFrame(data)

In [29]:
dataset

         id  class
0   1214092      2
1   1214556      2
2   1214966      4
3   1216694      4
4   1216947      2
5   1217051      2
6   1217264      2
7   1218105      4
8   1218741      4
9   1218860      2
10  1218860      2
11  1219406      2
12  1219525      4
13  1219859      4
14  1220330      2
15  1221863      4
16  1222047      4
17  1222936      4
18  1223282      2
19  1223426      2
20  1223793      4
21  1223967      2
22  1224329      2
23  1225799      4
24  1226012      2
25  1226612      4
26  1227210      4
27  1227244      2
28  1227481      4
29  1228152      4

In [30]:
dataset.to_csv("Submission.csv")